<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIVERSITY</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/university.css">
</head>
<body>
    <header>
        <div class="header">
            <div class="image">
                <img src="/image/nevberimg.jpg" alt="" id="nev-img">
            </div>
            <div class="headeritem">
                <ul type="none" class="item">
                    <li><a href="/Home">HOME</a></li>
                    <li><a href="/Home/Courses">UNIVERSITY</a></li>
                    <li><a href="/Home/Courses">COURSES</a></li>
                    <li><select id="selitem" class="selitem1">CATEGORY
                        <option class="selitem" >CATEGORY</option>
                        <option class="selitem" >CENTRAL UNIVERSITY</option>
                        <option class="selitem" >STATE UNIVERSITY</option>
                        <option class="selitem" >PRIVATE UNIVERSITY</option>
                    </select> </li>
                    <li><a href="">About us</a></li>
                </ul>
            </div>
            <div class="headerlogin">
                <a href="/Home/lonin" id="nevLogin"><button>LOGIN</button></a>
            </div>
        </div>
    </header>


    <div class="main1data">
        <form action="/Home/University-search" method="get">
        <table border="0" class="unitable">
            <tr>
                <th>NAME</th>
                <th>CITY</th>
                <th>COURSES</th>
                <th>EXAM</th>
                <th>CATEGORY</th>
            </tr>
            <tr>
                <td><input type="text"  class="inputfrom"  name="NAME" id="" placeholder="Enter College Name" ></td>
                <td><input type="text"  class="inputfrom"  name="CITY" id="" placeholder="Enter College City" ></td>
                <td><input type="text"  class="inputfrom"  name="COURSES" id="" placeholder="Enter Courses" ></td>
                <td><input type="text"  class="inputfrom"  name="EXAM" id="" placeholder="Enter Exam name" ></td>
                <td><input type="text"  class="inputfrom"  name="CATEGORY" id="" placeholder="Enter Category" ></td>
            </tr>
        </table>
        
                <button type="submit" id="searchbut"> search </button>
        </form>
    </div>


    <div class="main1data" style=" margin-top: 2px;">
        <% if(data.length>0) {%>
        <table  class="unitable">
            <tr>
                <th>NAME</th>
                <th>CITY</th>
                <th>COURSES</th>
                <th>EXAM</th>
                <th>CATEGORY</th>
            </tr>
            <% for(let i=0;i<data.length;i++){%>
            <tr>
                <td align="center"><%- data[i].u_NAME %></td>
                <td align="center"><%- data[i].CITY %></td>
                <td align="center"><%- data[i].COURSES %></td>
                <td align="center"><%- data[i].EXAM %></td>
                <td align="center"><%- data[i].CATEGORY %></td>
            </tr>
             
            <%}%>
            <% } else {%>
                <h1>no data in database</h1>
                <% }%>  
            
        </table>
    </div> 
</body>
</html>